@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


.body{
  font-family: "Cabin", sans-serif;
}

@theme {
  --color-primary:#128370 ;
  --color-secondary:#1c5479 ;
  --color-text: #232323;

  --color-sidebar: #006633;
  --color-dot: #0ca16b;
  --color-nav: #6b6c6a;
  --font-cabin: 'Cabin','sans-serif'
}
